{% if articles_page and articles_page.has_other_pages() %}
<ul class="pagination">
{% if articles_page.has_previous() %}<li><a class="page-link" href="{{ SITEURL }}/{{ articles_previous_page.url }}">← Newer</a></li>{% endif %}
<li class="active"><span class="page-link">Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</span></li>
{% if articles_page.has_next() %}<li><a class="page-link" href="{{ SITEURL }}/{{ articles_next_page.url }}">Older →</a></li>{% endif %}
</ul>
{% endif %}
